
*{
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f0f2f5;
  color: #333;
}


header {
  text-align: center;
  margin-bottom: 20px;
}


form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}


form input, form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form button {
  background-color: #4F4D4D;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

form button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.table-wrapper {
  max-height: 300px;
  overflow-y: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}


thead {
  background: #7e7d82;
  background: radial-gradient(circle, rgba(126, 125, 130, 1) 0%, rgba(79, 77, 77, 1) 50%, rgba(38, 38, 37, 1) 100%);
  color: white;
}


td, th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Styling for edit and delete buttons */

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}

.actions .edit {
  color: #2196F3;
}

.actions .delete {
  color: #f44336;
}
